<!DOCTYPE html>
<html>
    <head>
        <title>Livros</title>
    </head>
    <body>
        <h1>Lista de Livros</h1>
        <a href="/library/new">+ Novo Livro</a>
        <ul>
            <% books.forEach(book => { %>
            <li>
                <strong><%= book.title %></strong> - R$ <%= book.price %>
                <a href="/library/<%= book.id %>">[ver]</a>
                <a href="/library/<%= book.id %>/edit">[editar]</a>
                <form
                    action="/library/<%= book.id %>/delete"
                    method="POST"
                    style="display: inline"
                >
                    <button type="submit">[excluir]</button>
                </form>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
